{% extends "base_generic.html" %}

{% block content %}

  {% if user.is_authenticated %}
    <div>
      <div id="MisEnvios">
        <div id="MisEnviosPreparados">
        
          {% if to_send %}
              
          <table class="table table-hover">   
            <thead>
              <h2 class="pb-2 border-bottom">Mis envíos</h2>
              <tr class="table-dark">
                <th scope="col">Id</th>
                <th scope="col">Fecha</th>
                <th scope="col">Usuario</th>
                <th scope="col">Origen</th>
                <th scope="col">Destino</th>
                <th scope="col">Estado</th>
              </tr>
            </thead>

              {% for send in to_send %}
 
                <tbody>
                
                {% for s in send%} 

                  <tr class="table-danger">
                    <th scope="row">
                      <a class="nav-link d-flex align-items-center gap-2" href="route/{{ s.id }}">{{ s.id }}</a>
                    </th>
                    <td>
                      <a class="nav-link d-flex align-items-center gap-2" href="route/{{ s.id }}">{{s.preparation_date}}</a>
                    </td>
                    <td>
                      <a class="nav-link d-flex align-items-center gap-2" href="route/{{ s.id }}">{{s.user}}</a>
                    </td>
                    <td>
                      <a class="nav-link d-flex align-items-center gap-2" href="route/{{ s.id }}">{{s.origin}}</a>
                    </td>
                    <td>
                      <a class="nav-link d-flex align-items-center gap-2" href="route/{{ s.id }}">{{s.destination}}</a>
                    </td>
                    <td>
                      <a class="nav-link d-flex align-items-center gap-2" href="route/{{ s.id }}">{{s.status}}</a>
                    </td>
                  </tr>
                {% endfor %}

              {% endfor %}
                </tbody>

          {% else %}
            <div class="alert alert-light alert-dismissible fade show" role="alert">No tienes envios preparados a enviar.
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
          
          {% endif %}
        </div>
        <div id="MisEnviosEnCamino">
          
          {% if to_recv %}
          
            <table class="table table-hover">
              <thead>
                <h2 class="pb-2 border-bottom">Para recibir</h2>
                <tr class="table-dark">
                  <th scope="col">Id</th>
                  <th scope="col">Fecha</th>
                  <th scope="col">Usuario</th>
                  <th scope="col">Origen</th>
                  <th scope="col">Destino</th>
                  <th scope="col">Estado</th>
                </tr>
              </thead>
              
              <tbody>
              {% for rec in to_recv %}
                
                {% for r in rec %}
                  <tr class="table-success">
                    <th scope="row">
                      <a class="nav-link d-flex align-items-center gap-2" href="route/{{ r.id }}">{{ r.id }}</a>
                    </th>
                    <td>
                      <a class="nav-link d-flex align-items-center gap-2" href="route/{{ r.id }}">{{r.preparation_date}}</a>
                    </td>
                    <td>
                      <a class="nav-link d-flex align-items-center gap-2" href="route/{{ r.id }}">{{r.user}}</a>
                    </td>
                    <td>
                      <a class="nav-link d-flex align-items-center gap-2" href="route/{{ r.id }}">{{ r.origin }}</a>
                    </td>
                    <td>
                      <a class="nav-link d-flex align-items-center gap-2" href="route/{{ r.id }}">{{ r.destination }}</a>
                    </td>
                    <td>
                      <a class="nav-link d-flex align-items-center gap-2" href="route/{{ r.id }}">{{r.status}}</a>
                    </td>
                  </tr>
                {% endfor %}

              {% endfor %}
            </tbody>
            {% else %}
              <div class="alert alert-light alert-dismissible fade show" role="alert">No tienes envios envios en camino.
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
          {% endif %}
        </div>
      </div>    

        </div>
      </div>   
    </div>
  
  {% else %}
    <h1>Hoja de Ruta</h1>
      <p>Bienvenido a <em>Hoja de Ruta</em>, dentro de este sitio crearás, recibirás y verás el estado de tus envíos.</p>

    <div class="alert alert-light alert-dismissible fade show" role="alert">Inicia sesion para acceder al sitio...
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  {% endif %}  

{% endblock %}