{% extends "base_generic.html" %}

{% block content %}
<div class="modal modal-sheet d-block p-4 py-md-5" tabindex="-1" role="dialog" id="modalSignin">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class= "modal-header ">
          <h1 class="fw-bold mb-0 fs-2">Inicie sesión</h1>
        </div>
        <div class= "modal-body p-5 pt-0">
          <form  class="px-4 py-3" method="post" action="{% url 'login' %}">
            {% csrf_token %}   
            

            <div class="form-control">
              <label for="id_username">{{ form.username.label_tag }}</label>
              <div>
                {{ form.username }} 
              </div>    
              <label for="id_password">{{ form.password.label_tag }}</label>
              <div>
                {{ form.password  }}
              </div>    
            </div>
            <div class="form-control">
              <input type="submit" value="login" class="w-100 mb-2 btn btn-lg rounded-3 btn-primary">
              <input type="hidden" name="next" value="{{ next }}">
            <div>
          </form>
         
          <div class="dropdown-divider"></div>
          <a class="w-100 py-2 mb-2 btn btn-outline-primary rounded-3"  href="{% url 'password_reset' %}">¿Olvidó su contraseña?</a>
        </div>
        {% if form.errors %}
        <p class="mt-5 mb-3">Su nombre de usuario y contraseña no coinciden. Inténtalo de nuevo.</p>
        {% endif %}
  
        {% if next %}
          {% if user.is_authenticated %}
          <p class="mt-5 mb-3">Su cuenta no tiene acceso a esta página. Para continuar,
          inicie sesión con una cuenta que tenga acceso.</p>
        {% else %}
          <p class="mt-5 mb-3">Por favor inicie sesión para ver esta página.</p>
        {% endif %}
        {% endif %}   
        <p class="mt-5 mb-3">&copy; 2024</p>
      </div>
      </div>
      
    </div>
  </div>

  


{% endblock %}

