
{% extends "base_generic.html" %}

{% block content %}

<h2 class="pb-2 border-bottom">Nuevo Envio</h2>


<form  class="px-4 py-3" action="#" method="post">

{% csrf_token %}

<div class="form-control">
    
    <label for="id_origin">Desde</label>   
    <div>
    <select name="origin" class="form-select" required id="id_origin">
        {% if origin_perfil %}
            
            {% for origin in origin_perfil %}

            <option value='{{ origin.nodo.id }}'>{{ origin.nodo }}</option>
        
            {% endfor %}
        
            {% endif %}
      </select>
    </div>
        <script>
            let de = document.getElementById('id_origin');
            de.addEventListener("change", function(e) {
            
                if (de.value.toUpperCase() === '{{ another_destin.id }}') {
                document.getElementById('id_another_origin').disabled = false;
            } else {
                document.getElementById('id_another_origin').disabled = true;
            }
            });
        
        </script>

    <div>{{form.another_origin}}</div>
</div>
<div class="form-control">
    <label for="id_destination">Para</label>
    <div>{{form.destination}}</div>

    <script>
        let ee = document.getElementById('id_destination');
        ee.addEventListener("change", function(e) {
        
            if (ee.value.toUpperCase() === '{{ another_destin.id }}') {
            document.getElementById('id_another_destin').disabled = false;
        } else {
            document.getElementById('id_another_destin').disabled = true;
        }
        });
      
      </script>

    <div>{{form.another_destin}} </div>
</div>
<div class="form-control">
    <label for="id_description">Descripción</label>
    <div>{{form.description}}</div>
</div>
<div class="form-control">
    <input type="submit" value="OK" class="w-100 mb-2 btn btn-lg rounded-3 btn-primary">
</div>
</form>

{% endblock %}

